@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/img1.gif);
  /* font-family: 'Josefin Sans', sans-serif; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */

}

.wrapper{
  margin-top: 50px;
}

.wrapper h1{
 color: white;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 250px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
  border: 3px;
  border-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.team .team_member h3{
  color: rgb(83, 81, 81);
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

/* .team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
} */

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
